$white: #fff;
$black: #000;
$disabled: #EBEBE4;
$primary: #64748b;
$secondary: #64748b;
$filterTitle: #292524;
$background: #11271c;
$labelActive: $white;
$labelBackground: #64748b;
$labelBackgroundActive: #1e293b;
$buttonBackground: #64748b;
$buttonColor: $black;
$buttonBackgroundHover: $black;
$buttonColorHover: $white;
$gray: #34495e;
$darkgray: #2c3e50;
$buttonDisabled: #EBEBE4;
$buttonBackgroundDisabled: gray;