.page-error-wrapper {
  height: 80vh;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin: 0 auto;
  }
}


.letter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}