.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 100px;
  border: 2px solid $black;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(11, 177, 94);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}